############################
# IntelliJ IDEA
############################
.idea/
*.iml
out/

############################
# Maven
############################
target/
*.class
*.log
mvnw
mvnw.cmd

# Maven status files
**/target/maven-status/
**/target/maven-archiver/

############################
# Tomcat (local build output)
############################
# Prevent Tomcat's runtime files from being tracked
**/target/tomcat/
**/target/tomcat/work/
**/target/tomcat/logs/
**/target/tomcat/conf/
**/target/tomcat/webapps/
**/target/tomcat/temp/

############################
# Java
############################
*.class
hs_err_pid*
replay_pid*

############################
# Package files
############################
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

############################
# OS Files
############################
# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

############################
# Logs
############################
*.log

############################
# Others
############################
*.ctxt
.mtj.tmp/